---
import Player from "../global/Player.astro";
---

<section class="bg-zinc-900">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-24 py-6">
    <h1 class="text-2xl font-bold leading-7 text-white font-display">
      Latest Episodes
    </h1>
  </div>
</section>
<section x-data="{ open: false }">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-16">
    <div class="mt-4 mx-auto space-y-12 lg:mt-8 lg:border-zinc-100">
      <article
        aria-labelledby="episode-1-title"
        class="p-6 lg:p-10 hover:bg-zinc-100 rounded-xl"
      >
        <div>
          <div class="lg:max-w-4xl flex flex-wrap lg:flex-nowrap">
            <div class="mb-4 flex-shrink-0 sm:mb-0 sm:mr-4">
              <div
                class="rounded-full overflow-hidden ring-1 ring-offset-4 ring-orange-500"
              >
                <img
                  class="grayscale h-14 object-cover w-14 runded-full"
                  src="https://images.unsplash.com/photo-1450133064473-71024230f91b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  alt=""
                />
              </div>
            </div>
            <div class="mx-auto px-1 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
              <div class="flex flex-col items-start">
                <h2
                  id="episode-5-title"
                  class="mt-2 text-lg font-bold text-zinc-900"
                >
                  <a href="/episode-one"
                    ><span class="text-2xl font-display lg:text-6xl">one</span>:
                    Michael Delaware</a
                  >
                </h2><time
                  datetime="2022-02-24T00:00:00.000Z"
                  class="order-first text-xs leading-7 text-zinc-500"
                  >February 24, 2022</time
                >
                <p class="mt-1 text-base leading-7 text-zinc-700 line-clamp-3">
                  There are many differences between the public and private
                  sectors. What is it like for engineering roles? In this
                  episode, we are joined by Jasmine Robinson from Netflix to
                  hear about her experience moving from the public sector to a
                  corporate career.There are many differences between the public
                  and private sectors. What is it like for engineering roles? In
                  this episode, we are joined by Jasmine Robinson from Netflix
                  to hear about her experience moving from the public sector to
                  a corporate career.
                </p>
                <div
                  class="mt-4 flex items-center gap-4 bg-black px-4 py-1.5 rounded-lg"
                  x-on:click="open = true"
                >
                  <button
                    type="button"
                    class="flex items-center text-sm font-semibold leading-6 text-white hover:text-orange-500 active:text-white"
                    aria-label="Play episode 5: Michael Delaware"
                  >
                    <svg
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-2.5 w-2.5 fill-current order-last ml-3"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"
                      ></path>
                    </svg>

                    <span class="ml-3" aria-hidden="true">Listen now</span>
                  </button>
                  <span aria-hidden="true" class="text-sm font-bold text-black"
                    >/</span
                  ><a
                    class="flex items-center text-sm font-bold leading-6 text-white hover:text-orange-500 active:text-white"
                    aria-label="Show resume for episode 5: Michael Delaware"
                    href="/5">Read notes</a
                  >
                </div>
                <div class="flex justify-center">
                  <!-- Modal -->
                  <div
                    x-show="open"
                    style="display: none"
                    x-on:keydown.escape.prevent.stop="open = false"
                    role="dialog"
                    aria-modal="true"
                    x-id="['modal-title']"
                    :aria-labelledby="$id('modal-title')"
                    class="fixed inset-0 z-10 overflow-y-auto"
                  >
                    <!-- Overlay -->
                    <div
                      x-show="open"
                      x-transition.opacity
                      class="fixed inset-0 bg-black bg-opacity-50"
                    >
                    </div>
                    <!-- Panel -->
                    <div
                      x-show="open"
                      x-transition
                      x-on:click="open = false"
                      class="relative flex min-h-screen items-center justify-center p-4"
                    >
                      <div
                        x-on:click.stop
                        x-trap.noscroll.inert="open"
                        class="relative w-full max-w-2xl rounded-xl"
                      >
                        <Player />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article
        aria-labelledby="episode-1-title"
        class="p-6 lg:p-10 hover:bg-zinc-100 rounded-xl"
      >
        <div>
          <div class="lg:max-w-4xl flex flex-wrap lg:flex-nowrap">
            <div class="mb-4 flex-shrink-0 sm:mb-0 sm:mr-4">
              <div
                class="rounded-full overflow-hidden ring-1 ring-offset-4 ring-orange-500"
              >
                <img
                  class="grayscale h-14 object-cover w-14 runded-full"
                  src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  alt=""
                />
              </div>
            </div>
            <div class="mx-auto px-1 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
              <div class="flex flex-col items-start">
                <h2
                  id="episode-5-title"
                  class="mt-2 text-lg font-bold text-zinc-900"
                >
                  <a href="/episode-one"
                    ><span class="text-2xl font-display lg:text-6xl">two</span>:
                    Julia Smithozonovos</a
                  >
                </h2><time
                  datetime="2022-02-24T00:00:00.000Z"
                  class="order-first text-xs leading-7 text-zinc-500"
                  >February 24, 2022</time
                >
                <p class="mt-1 text-base leading-7 text-zinc-700 line-clamp-3">
                  Our sidebar interview specials interview our panelists
                  individually to learn more about their backgrounds and
                  careers. In this episode, we interview Brian Holt, to learn
                  more about his background and career.
                </p>
                <div
                  class="mt-4 flex items-center gap-4 bg-black px-4 py-1.5 rounded-lg"
                  x-on:click="open = true"
                >
                  <button
                    type="button"
                    class="flex items-center text-sm font-semibold leading-6 text-white hover:text-orange-500 active:text-white"
                    aria-label="Play episode 5: Michael Delaware"
                  >
                    <svg
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-2.5 w-2.5 fill-current order-last ml-3"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"
                      ></path>
                    </svg>

                    <span class="ml-3" aria-hidden="true">Listen now</span>
                  </button>
                  <span aria-hidden="true" class="text-sm font-bold text-black"
                    >/</span
                  ><a
                    class="flex items-center text-sm font-bold leading-6 text-white hover:text-orange-500 active:text-white"
                    aria-label="Show resume for episode 5: Michael Delaware"
                    href="/5">Read notes</a
                  >
                </div>
                <div class="flex justify-center">
                  <!-- Modal -->
                  <div
                    x-show="open"
                    style="display: none"
                    x-on:keydown.escape.prevent.stop="open = false"
                    role="dialog"
                    aria-modal="true"
                    x-id="['modal-title']"
                    :aria-labelledby="$id('modal-title')"
                    class="fixed inset-0 z-10 overflow-y-auto"
                  >
                    <!-- Overlay -->
                    <div
                      x-show="open"
                      x-transition.opacity
                      class="fixed inset-0 bg-black bg-opacity-50"
                    >
                    </div>
                    <!-- Panel -->
                    <div
                      x-show="open"
                      x-transition
                      x-on:click="open = false"
                      class="relative flex min-h-screen items-center justify-center p-4"
                    >
                      <div
                        x-on:click.stop
                        x-trap.noscroll.inert="open"
                        class="relative w-full max-w-2xl rounded-xl"
                      >
                        <Player />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article
        aria-labelledby="episode-1-title"
        class="p-6 lg:p-10 hover:bg-zinc-100 rounded-xl"
      >
        <div>
          <div class="lg:max-w-4xl flex flex-wrap lg:flex-nowrap">
            <div class="mb-4 flex-shrink-0 sm:mb-0 sm:mr-4">
              <div
                class="rounded-full overflow-hidden ring-1 ring-offset-4 ring-orange-500"
              >
                <img
                  class="grayscale h-14 object-cover w-14 runded-full"
                  src="https://images.unsplash.com/photo-1474176857210-7287d38d27c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  alt=""
                />
              </div>
            </div>
            <div class="mx-auto px-1 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
              <div class="flex flex-col items-start">
                <h2
                  id="episode-5-title"
                  class="mt-2 text-lg font-bold text-zinc-900"
                >
                  <a href="/episode-one"
                    ><span class="text-2xl font-display lg:text-6xl">three</span
                    >: Juan Echanove</a
                  >
                </h2><time
                  datetime="2022-02-24T00:00:00.000Z"
                  class="order-first text-xs leading-7 text-zinc-500"
                  >February 24, 2022</time
                >
                <p class="mt-1 text-base leading-7 text-zinc-700 line-clamp-3">
                  Our sidebar interview specials interview our panelists
                  individually to learn more about their backgrounds and
                  careers. In this episode, we interview Shirley Wu, to learn
                  more about her background and career.
                </p>
                <div
                  class="mt-4 flex items-center gap-4 bg-black px-4 py-1.5 rounded-lg"
                  x-on:click="open = true"
                >
                  <button
                    type="button"
                    class="flex items-center text-sm font-semibold leading-6 text-white hover:text-orange-500 active:text-white"
                    aria-label="Play episode 5: Michael Delaware"
                  >
                    <svg
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-2.5 w-2.5 fill-current order-last ml-3"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"
                      ></path>
                    </svg>

                    <span class="ml-3" aria-hidden="true">Listen now</span>
                  </button>
                  <span aria-hidden="true" class="text-sm font-bold text-black"
                    >/</span
                  ><a
                    class="flex items-center text-sm font-bold leading-6 text-white hover:text-orange-500 active:text-white"
                    aria-label="Show resume for episode 5: Michael Delaware"
                    href="/5">Read notes</a
                  >
                </div>
                <div class="flex justify-center">
                  <!-- Modal -->
                  <div
                    x-show="open"
                    style="display: none"
                    x-on:keydown.escape.prevent.stop="open = false"
                    role="dialog"
                    aria-modal="true"
                    x-id="['modal-title']"
                    :aria-labelledby="$id('modal-title')"
                    class="fixed inset-0 z-10 overflow-y-auto"
                  >
                    <!-- Overlay -->
                    <div
                      x-show="open"
                      x-transition.opacity
                      class="fixed inset-0 bg-black bg-opacity-50"
                    >
                    </div>
                    <!-- Panel -->
                    <div
                      x-show="open"
                      x-transition
                      x-on:click="open = false"
                      class="relative flex min-h-screen items-center justify-center p-4"
                    >
                      <div
                        x-on:click.stop
                        x-trap.noscroll.inert="open"
                        class="relative w-full max-w-2xl rounded-xl"
                      >
                        <Player />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article
        aria-labelledby="episode-1-title"
        class="p-6 lg:p-10 hover:bg-zinc-100 rounded-xl"
      >
        <div>
          <div class="lg:max-w-4xl flex flex-wrap lg:flex-nowrap">
            <div class="mb-4 flex-shrink-0 sm:mb-0 sm:mr-4">
              <div
                class="rounded-full overflow-hidden ring-1 ring-offset-4 ring-orange-500"
              >
                <img
                  class="grayscale h-14 object-cover w-14 runded-full"
                  src="https://images.unsplash.com/photo-1506956191951-7a88da4435e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
                  alt=""
                />
              </div>
            </div>
            <div class="mx-auto px-1 sm:px-6 md:max-w-2xl md:px-4 lg:px-0">
              <div class="flex flex-col items-start">
                <h2
                  id="episode-5-title"
                  class="mt-2 text-lg font-bold text-zinc-900"
                >
                  <a href="/episode-one"
                    ><span class="text-2xl font-display lg:text-6xl">four</span
                    >: Maripaz Diaz</a
                  >
                </h2><time
                  datetime="2022-02-24T00:00:00.000Z"
                  class="order-first text-xs leading-7 text-zinc-500"
                  >February 24, 2022</time
                >
                <p class="mt-1 text-base leading-7 text-zinc-700 line-clamp-3">
                  With this ever-changing landscape of technologies, we spend
                  this episode talking with Rhian van Esch and Carlos Castro
                  about the current trends of web development in 2022.
                </p>
                <div
                  class="mt-4 flex items-center gap-4 bg-black px-4 py-1.5 rounded-lg"
                  x-on:click="open = true"
                >
                  <button
                    type="button"
                    class="flex items-center text-sm font-semibold leading-6 text-white hover:text-orange-500 active:text-white"
                    aria-label="Play episode 5: Michael Delaware"
                  >
                    <svg
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-2.5 w-2.5 fill-current order-last ml-3"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"
                      ></path>
                    </svg>

                    <span class="ml-3" aria-hidden="true">Listen now</span>
                  </button>
                  <span aria-hidden="true" class="text-sm font-bold text-black"
                    >/</span
                  ><a
                    class="flex items-center text-sm font-bold leading-6 text-white hover:text-orange-500 active:text-white"
                    aria-label="Show resume for episode 5: Michael Delaware"
                    href="/5">Read notes</a
                  >
                </div>
                <div class="flex justify-center">
                  <!-- Modal -->
                  <div
                    x-show="open"
                    style="display: none"
                    x-on:keydown.escape.prevent.stop="open = false"
                    role="dialog"
                    aria-modal="true"
                    x-id="['modal-title']"
                    :aria-labelledby="$id('modal-title')"
                    class="fixed inset-0 z-10 overflow-y-auto"
                  >
                    <!-- Overlay -->
                    <div
                      x-show="open"
                      x-transition.opacity
                      class="fixed inset-0 bg-black bg-opacity-50"
                    >
                    </div>
                    <!-- Panel -->
                    <div
                      x-show="open"
                      x-transition
                      x-on:click="open = false"
                      class="relative flex min-h-screen items-center justify-center p-4"
                    >
                      <div
                        x-on:click.stop
                        x-trap.noscroll.inert="open"
                        class="relative w-full max-w-2xl rounded-xl"
                      >
                        <Player />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
