<section class="mx-auto lg:px-0 2xl:max-w-7xl overflow-hidden pt-12 bg-black">
  <section class="bg-black py-24 items-center">
    <div
      x-data="{
                skip: 1,
                atBeginning: false,
                atEnd: false,
                next() {
                    this.to((current, offset) => current + (offset * this.skip))
                },
                prev() {
                    this.to((current, offset) => current - (offset * this.skip))
                },
                to(strategy) {
                    let slider = this.$refs.slider
                    let current = slider.scrollLeft
                    let offset = slider.firstElementChild.getBoundingClientRect().width
                    slider.scrollTo({ left: strategy(current, offset), behavior: 'smooth' })
                },
                focusableWhenVisible: {
                    'x-intersect:enter'() {
                        this.$el.removeAttribute('tabindex')
                    },
                    'x-intersect:leave'() {
                        this.$el.setAttribute('tabindex', '-1')
                    },
                },
                disableNextAndPreviousButtons: {
                    'x-intersect:enter.threshold.05'() {
                        let slideEls = this.$el.parentElement.children
                        // If this is the first slide.
                        if (slideEls[0] === this.$el) {
                            this.atBeginning = true
                        // If this is the last slide.
                        } else if (slideEls[slideEls.length-1] === this.$el) {
                            this.atEnd = true
                        }
                    },
                    'x-intersect:leave.threshold.05'() {
                        let slideEls = this.$el.parentElement.children
                        // If this is the first slide.
                        if (slideEls[0] === this.$el) {
                            this.atBeginning = false
                        // If this is the last slide.
                        } else if (slideEls[slideEls.length-1] === this.$el) {
                            this.atEnd = false
                        }
                    },
                },
            }"
      class="flex w-full flex-col h-full"
    >
      <div
        x-on:keydown.right="next"
        x-on:keydown.left="prev"
        tabindex="0"
        role="region"
        aria-labelledby="carousel-label"
        class="flex mx-auto relative items-center max-h-[50vh]"
      >
        <h2 id="carousel-label" class="sr-only" hidden>Carousel</h2>
        <!-- Prev Button -->
        <span id="carousel-content-label" class="sr-only" hidden>Carousel</span>
        <div>
          <ul
            x-ref="slider"
            tabindex="0"
            role="listbox"
            aria-labelledby="carousel-content-label"
            class="flex w-full snap-x snap-mandatory overflow-x-hidden h-full py-6 items-center"
          >
            <li
              x-bind="disableNextAndPreviousButtons"
              class="flex w-full shrink-0 snap-start flex-col items-center justify-center h-full lg:w-full"
              role="option"
            >
              <section>
                <div
                  class="grid grid-cols-1 lg:grid-cols-2 px-8 lg:max-w-6xl mx-auto items-center"
                >
                  <div>
                    <div>
                      <div class="max-w-xl lg:pr-24">
                        <span class="text-orange-500 text-xs">Featured</span>

                        <h2
                          class="font-semibold text-white font-display mt-6 text-3xl"
                        >
                          Michael Delaware
                        </h2>
                        <p class="text-zinc-400 mt-5">
                          We're joined by Michael Delaware, a
                          multi-award-winning Creative Front-end Developer,
                          Creatore and Founding Partner of Nada
                        </p>
                        <div class="flex flex-wrap mt-6">
                          <a
                            class="relative flex items-center h-[44px] px-4 border border-zinc-800 rounded-xl text-white/90 hover:bg-zinc-800 bg-black hover:border-zinc-800 gap-3"
                            href=""
                          >
                            Listen now
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="w-6 h-6"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"
                              ></path>
                            </svg>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="max-w-xl aspect-square">
                    <img
                      src="https://images.unsplash.com/photo-1450133064473-71024230f91b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                      alt=""
                    />
                  </div>
                </div>
              </section>
              <button
                x-bind="focusableWhenVisible"
                class="px-4 py-2 text-sm hidden">Do Something</button
              >
            </li>
            <li
              x-bind="disableNextAndPreviousButtons"
              class="flex w-full shrink-0 snap-start flex-col items-center justify-center h-full lg:w-full"
              role="option"
            >
              <section>
                <div
                  class="grid grid-cols-1 lg:grid-cols-2 px-8 lg:max-w-6xl 2xl:max-w-7xl mx-auto items-center"
                >
                  <div>
                    <div>
                      <div class="max-w-xl lg:pr-24">
                        <span class="text-orange-500 text-xs">Featured</span>
                        <h2
                          class="font-semibold text-white font-display mt-6 text-3xl"
                        >
                          Juan Echanove
                        </h2>
                        <p class="text-zinc-400 mt-5">
                          Streamer is a minimal template for podcasters and
                          creators to share what they have been working on in a
                          stunning way.
                        </p>
                        <div class="flex flex-wrap mt-6">
                          <a
                            class="relative flex items-center h-[44px] px-4 border border-zinc-800 rounded-xl text-white/90 hover:bg-zinc-800 bg-black hover:border-zinc-800 gap-3"
                            href=""
                          >
                            Listen now
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="w-6 h-6"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"
                              ></path>
                            </svg>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="max-w-xl aspect-square">
                    <img
                      src="https://images.unsplash.com/photo-1474176857210-7287d38d27c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                      alt=""
                    />
                  </div>
                </div>
              </section>
              <button
                x-bind="focusableWhenVisible"
                class="px-4 py-2 text-sm hidden">Do Something</button
              >
            </li>
            <li
              x-bind="disableNextAndPreviousButtons"
              class="flex w-full shrink-0 snap-start flex-col items-center justify-center h-full lg:w-full"
              role="option"
            >
              <section>
                <div
                  class="grid grid-cols-1 lg:grid-cols-2 px-8 lg:max-w-6xl 2xl:max-w-7xl mx-auto items-center"
                >
                  <div>
                    <div>
                      <div class="max-w-xl lg:pr-24">
                        <span class="text-orange-500 text-xs">Featured</span>
                        <h2
                          class="font-semibold text-white font-display mt-6 text-3xl"
                        >
                          Helena Manera
                        </h2>
                        <p class="text-zinc-400 mt-5">
                          Streamer is a minimal template for podcasters and
                          creators to share what they have been working on in a
                          stunning way.
                        </p>
                        <div class="flex flex-wrap mt-6">
                          <a
                            class="relative flex items-center h-[44px] px-4 border border-zinc-800 rounded-xl text-white/90 hover:bg-zinc-800 bg-black hover:border-zinc-800 gap-3"
                            href=""
                          >
                            Listen now
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="w-6 h-6"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"
                              ></path>
                            </svg>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="max-w-xl aspect-square">
                    <img
                      src="https://images.unsplash.com/photo-1541911087797-f89237bd95d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
                      alt=""
                    />
                  </div>
                </div>
              </section>
              <button
                x-bind="focusableWhenVisible"
                class="px-4 py-2 text-sm hidden">Do Something</button
              >
            </li>
            <li
              x-bind="disableNextAndPreviousButtons"
              class="flex w-full shrink-0 snap-start flex-col items-center justify-center h-full lg:w-full"
              role="option"
            >
              <section>
                <div
                  class="grid grid-cols-1 lg:grid-cols-2 px-8 lg:max-w-6xl 2xl:max-w-7xl mx-auto items-center"
                >
                  <div>
                    <div>
                      <div class="max-w-xl lg:pr-24">
                        <span class="text-orange-500 text-xs">Featured</span>
                        <h2
                          class="font-semibold text-white font-display mt-6 text-3xl"
                        >
                          Francisco Pereira
                        </h2>
                        <p class="text-zinc-400 mt-5">
                          Streamer is a minimal template for podcasters and
                          creators to share what they have been working on in a
                          stunning way.
                        </p>
                        <div class="flex flex-wrap mt-6">
                          <a
                            class="relative flex items-center h-[44px] px-4 border border-zinc-800 rounded-xl text-white/90 hover:bg-zinc-800 bg-black hover:border-zinc-800 gap-3"
                            href=""
                          >
                            Listen now
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="w-6 h-6"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"
                              ></path>
                            </svg>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="max-w-xl aspect-square">
                    <img
                      src="https://images.unsplash.com/photo-1520078452277-0832598937e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60"
                      alt=""
                    />
                  </div>
                </div>
              </section>
              <button
                x-bind="focusableWhenVisible"
                class="px-4 py-2 text-sm hidden">Do Something</button
              >
            </li>
            <li
              x-bind="disableNextAndPreviousButtons"
              class="flex w-full shrink-0 snap-start flex-col items-center justify-center h-full lg:w-full"
              role="option"
            >
              <section>
                <div
                  class="grid grid-cols-1 lg:grid-cols-2 px-8 lg:max-w-6xl 2xl:max-w-7xl mx-auto items-center"
                >
                  <div>
                    <div>
                      <div class="max-w-xl lg:pr-24">
                        <span class="text-orange-500 text-xs">Featured</span>
                        <h2
                          class="font-semibold text-white font-display mt-6 text-3xl"
                        >
                          Sven Svensson
                        </h2>
                        <p class="text-zinc-400 mt-5">
                          Streamer is a minimal template for podcasters and
                          creators to share what they have been working on in a
                          stunning way.
                        </p>
                        <div class="flex flex-wrap mt-6">
                          <a
                            class="relative flex items-center h-[44px] px-4 border border-zinc-800 rounded-xl text-white/90 hover:bg-zinc-800 bg-black hover:border-zinc-800 gap-3"
                            href=""
                          >
                            Listen now
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="w-6 h-6"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"
                              ></path>
                            </svg>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="max-w-xl aspect-square">
                    <img
                      src="https://images.unsplash.com/photo-1525227661914-3ed79b83624e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60"
                      alt=""
                    />
                  </div>
                </div>
              </section>
              <button
                x-bind="focusableWhenVisible"
                class="px-4 py-2 text-sm hidden">Do Something</button
              >
            </li>
            <li
              x-bind="disableNextAndPreviousButtons"
              class="flex w-full shrink-0 snap-start flex-col items-center justify-center h-full lg:w-full"
              role="option"
            >
              <section>
                <div
                  class="grid grid-cols-1 lg:grid-cols-2 px-8 lg:max-w-6xl 2xl:max-w-7xl mx-auto items-center"
                >
                  <div>
                    <div>
                      <div class="max-w-xl lg:pr-24">
                        <span class="text-orange-500 text-xs">Featured</span>
                        <h2
                          class="font-semibold text-white font-display mt-6 text-3xl"
                        >
                          Fabio Assange
                        </h2>
                        <p class="text-zinc-400 mt-5">
                          Streamer is a minimal template for podcasters and
                          creators to share what they have been working on in a
                          stunning way.
                        </p>
                        <div class="flex flex-wrap mt-6">
                          <a
                            class="relative flex items-center h-[44px] px-4 border border-zinc-800 rounded-xl text-white/90 hover:bg-zinc-800 bg-black hover:border-zinc-800 gap-3"
                            href=""
                          >
                            Listen now
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="w-6 h-6"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"
                              ></path>
                            </svg>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="max-w-xl aspect-square">
                    <img
                      src="https://images.unsplash.com/photo-1519228172884-fba2696ae551?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDExfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60"
                      alt=""
                    />
                  </div>
                </div>
              </section>
              <button
                x-bind="focusableWhenVisible"
                class="px-4 py-2 text-sm hidden">Do Something</button
              >
            </li>
          </ul>
        </div>
        <div
          class="inline-flex items-center gap-3 lg:px-8 mx-auto justify-between w-full absolute"
        >
          <button
            class=""
            x-on:click="prev"
            class="text-6xl"
            :aria-disabled="atBeginning"
            :tabindex="atEnd ? -1 : 0"
            :class="{ 'opacity-50 cursor-not-allowed': atBeginning }"
          >
            <span
              class="p-2 block rounded-full border border-zinc-800 text-white bg-black hover:text-orange-500 hover:border-orange-500 ring-transparent ring-1 focus:ring-orange-300"
              aria-hidden="true"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-chevron-left"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <polyline points="15 6 9 12 15 18"></polyline>
              </svg>
            </span>
            <span class="sr-only">Skip to previous slide page</span>
          </button>
          <!-- Next Button -->
          <button
            class=""
            x-on:click="next"
            class="text-6xl"
            :aria-disabled="atEnd"
            :tabindex="atEnd ? -1 : 0"
            :class="{ 'opacity-50 cursor-not-allowed': atEnd }"
          >
            <span
              aria-hidden="true"
              class="p-2 block rounded-full border border-zinc-800 text-white bg-black hover:text-orange-500 hover:border-orange-500 ring-transparent ring-1 focus:ring-orange-300"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-chevron-right"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <polyline points="9 6 15 12 9 18"></polyline>
              </svg>
            </span>
            <span class="sr-only">Skip to next slide page</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</section>
