<section>
  <div class="relative isolate overflow-hidden max-w-7xl mx-auto">
    <img
      src="https://images.unsplash.com/photo-1590602846581-7d3eec520d07?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80"
      alt=""
      class="absolute inset-0 -z-10 h-full w-full object-cover opacity-30"
    />

    <div
      class="py-32 lg:pt-32 bg-gradient-to-r from-smoke via-smoke/80 h-full px-8 md:px-12 lg:px-32">
      <div class="text-left">
        <span class="text-xs font-bold tracking-wide uppercase text-zinc-500"
          >This is Streamer</span
        >
        <p
          class="mt-8 text-4xl font-semibold lg:text-6xl tracking-tighter text-zinc-900">
          Journey into the depths of <span class="md:block text-zinc-500">
            experience, and discovery.</span
          >
        </p>
        <p class="max-w-md mt-4 text-base text-zinc-500">
          Exploring perspectives, uncovering truths, and embracing the
          fascinating tapestry of life
        </p>
        <div class="flex flex-col items-center gap-3 mt-10 md:flex-row">
          <a
            class="flex items-center justify-center w-full h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg bg-gradient-to-b from-zinc-500 hover:to-zinc-700 to-zinc-600 md:w-auto"
            href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/f50206e4-c120-45bd-aa1e-22681509cdd4">
            Download Streamer
          </a>
          <a
            class="flex items-center justify-center w-full h-10 px-4 py-2 text-sm transition-all bg-white border border-zinc-300 rounded-lg md:w-auto md:font-semibold text-zinc-600 hover:text-zinc-500"
            href="#episode">
            Listen to our episodes &nbsp; →</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
