---
import 'bootstrap-icons/font/bootstrap-icons.css'

const { title, price, isBgZinc, isBgWhite } = Astro.props;

const isPremium = (Astro.props.title === "Premium" ? true : false);
const isStandard = (Astro.props.title === "Standard" ? true : false);
const isEssential = (Astro.props.title === "Essential" ? true : false);
---

<section
  class:list={[
    "flex flex-col py-8 px-6 sm:px-8 lg:py-8 rounded-3xl",
    { "bg-zinc-500": isBgZinc, "bg-white": isBgWhite },
  ]}
>
  <h3 class:list={["text-xl", {'text-black': isBgWhite, 'text-white': isBgZinc}]}>{title}</h3>
  <p class:list={["mt-2 text-sm", {'text-gray-500': isBgWhite, 'text-gray-200': isBgZinc}]}>
    <slot />
  </p>
  <p class:list={["text-3xl mt-4 font-light tracking-tight", {'text-black': isBgWhite, 'text-white': isBgZinc}]}>
    {price}/month
  </p>
  <ul
    role="list"
    class:list={["flex flex-col order-last mt-10 text-sm gap-y-3", {'text-gray-500': isBgWhite, 'text-white': isBgZinc}]}
  >
    <li class="flex items-center">
      <i class="bi bi-check-circle-fill"></i>
      <span class="ml-4">Access to Episodes</span>
    </li>
    <li class:list={["flex items-center", {'opacity-70': isEssential}]}>
      <i class:list={["bi", {'bi-check-circle-fill': isPremium || isStandard, 'bi-x-circle': isEssential}]}></i>
      <span class="ml-4">Early Access</span>
    </li>
    <li class:list={["flex items-center", {'opacity-70': isEssential}]}>
      <i class:list={["bi", {'bi-check-circle-fill': isPremium || isStandard, 'bi-x-circle': isEssential}]}></i>
      <span class="ml-4">Exclusive Content</span>
    </li>
    <li class:list={["flex items-center", {'opacity-70': isEssential || isPremium}]}>
      <i class:list={["bi", {'bi-check-circle-fill': isStandard, 'bi-x-circle': isEssential || isPremium}]}></i>
      <span class="ml-4">Q&A Sessions</span>
    </li>
    <li class:list={["flex items-center", {'opacity-70': isEssential || isPremium}]}>
      <i class:list={["bi", {'bi-check-circle-fill': isStandard, 'bi-x-circle': isEssential || isPremium}]}></i>
      <span class="ml-4">Premium Support</span>
    </li>
  </ul>
  <div class="mt-8">
    <a
      class:list={[
        "flex items-center justify-center w-full h-10 px-4 py-2 text-sm transition-all bg-white border border-zinc-300 rounded-lg md:w-auto md:font-semibold text-zinc-600",
        {
          "text-white": isBgZinc,
          "text-zinc-600": isBgWhite,
          "hover:text-zinc-500": isBgWhite,
        },
      ]}
      aria-label="Wannabe tier"
      href="#"
    >
      Button
    </a>
  </div>
</section>
