---
import PricingElement from "./PricingElement.astro";
---

<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="max-w-3xl lg:text-center lg:mx-auto">
      <span class="text-xs font-bold tracking-wide uppercase text-zinc-500"
        >Pricing</span
      >
      <p class="mt-8 text-4xl font-semibold tracking-tight text-zinc-900">
        Choose your perfect plan
      </p>
      <p class="mt-4 text-base text-zinc-500">
        explore our flexible pricing options tailored to your needs
      </p>
    </div>
    <div
      class="grid max-w-2xl grid-cols-1 gap-y-10 sm:mx-auto lg:max-w-none lg:grid-cols-3 xl:gap-x-2 mt-12 lg:mt-24"
    >
      <PricingElement price="$9.99" title="Essential" isBgWhite="true">
        Casual listeners and newcomers who want access to the podcast's core
        content.
      </PricingElement>
      <PricingElement
        price="$39.99"
        title="Standard"
        isBgZinc="true"
      >
        Regular listeners who want early access to episodes and exclusive
        content, making their experience more enriched.
      </PricingElement>
      <PricingElement price="$19.99" title="Premium" isBgWhite="true">
        Dedicated fans and enthusiasts who seek an all-encompassing experience,
        including Q&A sessions.
      </PricingElement>
      <!-- <Temp /> -->
    </div>
  </div>
</section>
