<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl l">
    <div
      class="relative overflow-hidden bg-smoke ring-1 ring-zinc-300 px-6 py-20 rounded-3xl sm:px-10 sm:py-24 md:px-12 lg:px-20">
      <img
        class="absolute inset-0 h-full w-full object-cover brightness-150 saturate-0"
        src="https://images.unsplash.com/photo-1453738773917-9c3eff1db985?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
        alt=""
      />
      <div class="absolute inset-0 bg-smoke/90"></div>

      <div class="relative mx-auto max-w-2xl lg:mx-0">
        <figure>
          <blockquote
            class="text-lg font-medium text-zinc-500 sm:text-2xl sm:leading-8">
            <p>
              From the very first episode, I was hooked! The podcast's
              captivating narratives and insightful discussions have expanded my
              horizons and deepened my understanding of various subjects. It's
              like having a knowledgeable friend sharing fascinating stories and
              ideas. Truly a gem in the world of podcasts!
            </p>
          </blockquote>
          <figcaption class="mt-6 text-base text-zinc-500">
            <div class="font-semibold">Alex W.</div>
            <div class="mt-1">CEO of Something</div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
