<section>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-16 py-24">
    <div class="mx-auto space-y-12 lg:border-zinc-100 max-w-2xl">
      <div class="lg:sticker lg:sticky pb-16 top-0">
        <div>
          <div class="space-y-3">
            <h2
              class="text-2xl font-display lg:text-6xl font-bold leading-none text-black"
            >
              Andres Buenahonda
            </h2>
            <hr
              class="border border-b-transparent border-dotted border-x-transparent border-black/10"
            />
            <p class="text-2xl font-semibold leading-7 text-zinc-700">
              Senior Digital Designer from Austria, who enjoys solving gnarly UX
              problems just as much as designing highly detailed interfaces that
              make people happy.
            </p>
          </div>
        </div><div class="mt-24 space-y-24">
          <div class="text-base space-y-6">
            <p class="text-base leading-7 text-zinc-700">
              I'm a self taught Front-end Designer, product guy and a
              bootstrapped Indie Hacker, with a simple and modernist visual
              language, specialized in Tailwind CSS, dark-mode design and
              Tailwind CSS UI Components. I have a wide range of customers
              around the world, enjoying the products that I built, designed and
              marketed. I have recently sold my SAAS
            </p>
            <p class="text-base leading-7 text-zinc-700">
              Since I’ve started working in Digital Design 15 years ago, I‘ve
              become a well rounded designer who feels comfortable throughout
              the whole process of creating digital products from start to
              finish.
            </p>
            <p class="text-base leading-7 text-zinc-700">
              Having worked both in design and web development, I have acquired
              a good understanding of different tech stacks and their
              possibilities. This makes me an advocate for both designers and
              developers, trying to find elegant solutions which are both
              functionally and visually pleasing - but are always within
              technical constraints.
            </p>
            <p class="text-base leading-7 text-zinc-700">
              I‘m a passionate prototyper, who feels comfortable creating
              something testable at the level of fidelity that is appropriate to
              challenge a hypothesis. This can range from a simple click-dummy
              to a fully interactive hifi prototype that looks and feels like
              the real thing.
            </p><p class="text-base leading-7 text-zinc-700">
              Being in good company is very important to me and I love to learn
              from my peers and share my experience with them. It inspires me to
              empower colleagues to unlock their creative potential, so I‘ll
              support them do so whenever I can.
            </p>
            <hr
              class="border border-b-transparent border-dotted border-x-transparent border-white/10"
            />
            <p class="text-base leading-7 text-zinc-700">
              <span class="flex flex-wrap">
                <a href="" class="text-black hover:text-zinc500-">Mail</a>
                <a href="" class="text-black hover:text-zinc500-">Twitter</a>
                <a href="" class="text-black hover:text-zinc500-">Linkedin</a>
                <a href="" class="text-black hover:text-zinc500-">Read CV</a>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
