<section class="border-b border-white bg-black">
  <div
    class="mx-auto max-w-7xl px-8 lg:px-24 py-12 border-x bg-white border-black">
    <div class="relative flex justify-start">
      <span
        class="bg-white pr-3 text-4xl lg:text-9xl font-black tracking-tight text-black font-display"
        ><span class="font-thin text-blue400">✺</span> Michael Delaware
      </span>
    </div>
  </div>
</section>
<section class="border-b border-white bg-black">
  <div class="mx-auto max-w-7xl px-8 lg:px-24 py-12 border-x border-white">
    <div class="space-y-12 lg:border-zinc-100 max-w-2xl">
      <div class="pb-16 top-0">
        <div class="space-y-3 ml-auto">
          <p class="text-2xl font-semibold lg:text-3xl text-white font-display">
            Senior Digital Designer from Austria, who enjoys solving gnarly UX
            problems just as much as designing highly detailed interfaces that
            make people happy.
          </p>
        </div>

        <div class="space-y-24 mt-12">
          <div class="text-base space-y-6">
            <p class="text-white text-lg">
              Since I've started working in Digital Design 15 years ago, I‘ve
              become a well rounded designer who feels comfortable throughout
              the whole process of creating digital products from start to
              finish.
            </p>
            <p class="text-lg text-white">
              Having worked both in design and web development, I have acquired
              a good understanding of different tech stacks and their
              possibilities. This makes me an advocate for both designers and
              developers, trying to find elegant solutions which are both
              functionally and visually pleasing - but are always within
              technical constraints.
            </p>
            <p class="text-lg text-white">
              I‘m a passionate prototyper, who feels comfortable creating
              something testable at the level of fidelity that is appropriate to
              challenge a hypothesis. This can range from a simple click-dummy
              to a fully interactive hifi prototype that looks and feels like
              the real thing.
            </p>
            <p class="text-white text-lg">
              Being in good company is very important to me and I love to learn
              from my peers and share my experience with them. It inspires me to
              empower colleagues to unlock their creative potential, so I‘ll
              support them do so whenever I can.
            </p>

            <p class="text-sm">
              <span class="flex flex-wrap gap-3">
                <a href="#" class="text-white 500 hover:text-white">Mail</a>
                <a href="#" class="text-white 500 hover:text-white">Twitter</a>
                <a href="#" class="text-white 500 hover:text-white">Linkedin</a>
                <a href="#" class="text-white 500 hover:text-white">Read CV</a>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
