---
import Player from "./Player.astro";
---

<section
  class="bg-cover bg-top bg-black h-[75vh] border-b border-white"
  style="background-image:url(https://images.unsplash.com/photo-1450133064473-71024230f91b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)">
</section>
<section class="border-b border-white bg-black">
  <div
    class="mx-auto max-w-7xl px-8 lg:px-24 py-12 border-x bg-white border-black">
    <div class="relative flex justify-start">
      <span
        class="text-4xl lg:text-9xl font-black tracking-tight text-black font-display"
        ><span class="font-thin text-accent-400">01</span>
        <span class="font-medium italic"> - Public sector tech</span>
        - Public bar vs private club
      </span>
    </div>
  </div>
</section>
<section class="border-b border-white bg-black">
  <div class="mx-auto max-w-7xl px-8 lg:px-24 py-12 border-x border-white">
    <div class="space-y-12 lg:border-zinc-100 max-w-2xl">
      <div class="pb-16 top-0">
        <div x-data x-tabs class="mx-auto max-w-3xl">
          <div x-tabs:list class="-mb-px flex items-stretch gap-3">
            <button
              x-tabs:tab
              type="button"
              :class="$tab.isSelected ? 'border-white ' : 'border-transparent'"
              class="inline-flex text-white border-b py-2.5">Notes</button
            >

            <button
              x-tabs:tab
              type="button"
              :class="$tab.isSelected ? 'border-white' : 'border-transparent'"
              class="inline-flex text-white border-b py-2.5"
              >Transcript
            </button>
          </div>

          <div x-tabs:panels class="mt-24">
            <section x-tabs:panel>
              <div>
                <Player />
                <div class="mt-12">
                  <p
                    class="text-2xl font-semibold lg:text-3xl text-white font-display">
                    Sales tax compliance: nobody in SaaS wants to talk about it.
                    Jon and Justin tried to do something about it and it turned
                    into a nightmare. According to Stripe Tax, there are about
                    90 different regions that software companies may have to
                    register in, and then calculate, collect, and remit sales
                    tax on their behalf. But in North America, many SaaS
                    companies don't seem to care: many that we looked at weren't
                    collecting sales tax at all, while a few had just started
                    collecting in the US states.
                  </p>
                </div>
                <div class="overflow-hidden shadow sm:rounded-lg mt-12">
                  <div class="border-y border-white py-5 sm:p-0">
                    <dl class="sm:divide-y sm:divide-white">
                      <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
                        <dt class="text-sm font-medium text-gray-500">
                          <a
                            class="rounded-md font-medium text-accent-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-acent-500 focus:ring-offset-2"
                            >00:13</a
                          >
                        </dt>
                        <dd
                          class="mt-1 text-sm text-white sm:col-span-2 sm:mt-0">
                          ✺ Welcome
                        </dd>
                      </div>
                      <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
                        <dt class="text-sm font-medium text-gray-500">
                          <a
                            class="rounded-md font-medium text-accent-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-acent-500 focus:ring-offset-2"
                            >01:54</a
                          >
                        </dt>
                        <dd
                          class="mt-1 text-sm text-white sm:col-span-2 sm:mt-0">
                          ✺ Benefits of podcasting for a small business
                        </dd>
                      </div>
                      <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
                        <dt class="text-sm font-medium text-gray-500">
                          <a
                            class="rounded-md font-medium text-accent-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-acent-500 focus:ring-offset-2"
                            >03:44</a
                          >
                        </dt>
                        <dd
                          class="mt-1 text-sm text-white sm:col-span-2 sm:mt-0">
                          ✺ New Year's update
                        </dd>
                      </div>
                      <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
                        <dt class="text-sm font-medium text-gray-500">
                          <a
                            class="rounded-md font-medium text-accent-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-acent-500 focus:ring-offset-2"
                            >05:59</a
                          >
                        </dt>
                        <dd
                          class="mt-1 text-sm text-white sm:col-span-2 sm:mt-0">
                          ✺ Patreon integration feature
                        </dd>
                      </div>
                      <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
                        <dt class="text-sm font-medium text-gray-500">
                          <a
                            class="rounded-md font-medium text-accent-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-acent-500 focus:ring-offset-2"
                            >10:23</a
                          >
                        </dt>
                        <dd
                          class="mt-1 text-sm text-white sm:col-span-2 sm:mt-0">
                          ✺ Dear listener... a request!
                        </dd>
                      </div>
                      <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
                        <dt class="text-sm font-medium text-gray-500">
                          <a
                            class="rounded-md font-medium text-accent-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-acent-500 focus:ring-offset-2"
                            >10:50</a
                          >
                        </dt>
                        <dd
                          class="mt-1 text-sm text-white sm:col-span-2 sm:mt-0">
                          ✺ Exciting! Sales Tax! Discussion!
                        </dd>
                      </div>
                      <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
                        <dt class="text-sm font-medium text-gray-500">
                          <a
                            class="rounded-md font-medium text-accent-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-acent-500 focus:ring-offset-2"
                            >47:00</a
                          >
                        </dt>
                        <dd
                          class="mt-1 text-sm text-white sm:col-span-2 sm:mt-0">
                          ✺ Thanks to our Patreon supporters
                        </dd>
                      </div>
                    </dl>
                  </div>
                </div>
                <div class="space-y-6 mt-12">
                  <p class="text-white text-lg">
                    Thanks to our monthly supporters
                  </p>
                  <ul class="text-white">
                    <li>✺ Greg Park</li>
                    <li>✺ Mitchell Davis</li>
                    <li>✺ Marcel Fahle</li>
                    <li>✺ Oleg Kulyk</li>
                    <li>✺ Ethan Gunderson</li>
                    <li>✺ Anton Zorin</li>
                    <li>✺ Bill Condo</li>
                  </ul>
                </div>
              </div>
            </section>

            <section x-tabs:panel>
              <div>
                <div class="space-y-6">
                  <p class="text-white">
                    Build your SaaS: Nobody in SaaS wants to talk about this
                  </p>
                  <ul class="text-white text-lg space-y-3">
                    <li class="text-white">
                      <strong>Speaker 1:</strong> Good morning and welcome to our
                      podcast. Today we're talking about the importance of sleep
                      for overall health and wellbeing.
                    </li>
                    <li class="text-white/50">
                      <strong>Speaker 2:</strong> Yes, getting enough quality sleep
                      is crucial for our physical and mental health. But did you
                      know that not all sleep is created equal?
                    </li>
                    <li class="text-white">
                      <strong>Speaker 1:</strong> That's right. The quality of your
                      sleep can be affected by a variety of factors, including your
                      sleeping environment, your diet, and your overall health.
                    </li>

                    <li class="text-white/50">
                      <strong>Speaker 2:</strong> And it's not just about how long
                      you sleep, but also the quality of your sleep. For example,
                      if you're waking up frequently during the night, you may not
                      be getting enough deep, restorative sleep.
                    </li>

                    <li class="text-white">
                      <strong>Speaker 1:</strong> That's why it's important to take
                      steps to improve the quality of your sleep, such as creating
                      a comfortable sleeping environment and establishing a regular
                      sleep routine.
                    </li>

                    <li class="text-white/50">
                      <strong>Speaker 2:</strong> And don't forget to prioritize
                      your mental health as well. Stress and anxiety can have a major
                      impact on the quality of your sleep.
                    </li>

                    <li class="text-white">
                      <strong>Speaker 1:</strong> Absolutely. It's all about finding
                      a balance that works for you and your individual needs.
                    </li>

                    <li class="text-white/50">
                      Speaker 2: Thanks for listening, and we'll be back next
                      week with more tips for healthy living.
                    </li>
                  </ul>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
