<section class="border-b border-white bg-black">
  <div
    class="mx-auto max-w-7xl px-8 lg:px-24 py-24 lg:py-36 border-x border-white">
    <div class="items-end grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-24">
      <div class="py-12">
        <span class="text-white text-xs">Drop us a line</span>
        <h2
          class="text-white font-semibold mt-6 text-3xl font-display lg:text-8xl">
          Get in touch with Streamer
        </h2>
        <p class="mt-5 text-lg text-white/60">
          Complete the form , and our team will be notified then we will return
          a call during business hours Monday to Friday.
        </p>
      </div>
      <div class="mt-12 lg:mt-0 h-full py-12 w-full items-end">
        <form action="#">
          <div class="space-y-2 w-full">
            <div class="w-full mx-auto">
              <label class="sr-only" name="name">Firist name</label>
              <input
                class="text-black w-full appearance-none focus:border-accent-400 focus:outline-none focus:ring-accent-400 ring-1 ring-white placeholder-white/50 bg-transparent px-3 py-3 sm:text-sm focus:bg-white border-transparent"
                placeholder="Full Name"
              />
            </div>
            <div>
              <label class="sr-only">Work email adress</label>
              <input
                class="text-black w-full appearance-none focus:border-accent-400 focus:outline-none focus:ring-accent-400 ring-1 ring-white placeholder-white/50 bg-transparent px-3 py-3 sm:text-sm focus:bg-white border-transparent"
                placeholder="Work Email"
                type="email"
              />
            </div>

            <div>
              <div>
                <label class="sr-only" name="message">Project details</label>
                <div class="mt-1">
                  <textarea
                    class="text-white w-full appearance-none focus:border-accent-400 focus:outline-none focus:ring-accent-400 ring-1 ring-white placeholder-white/50 bg-transparent px-3 py-3 sm:text-sm focus:bg-white border-transparent"
                    placeholder="MEssage"
                    rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="col-span-full">
              <button
                class="relative flex items-center px-4 border border-white py-4 text-white justify-center hover:bg-zinc-800 bg-black hover:border-white/50 gap-3 w-full"
                type="submit">Send</button
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
