<section aria-labelledby="footer-heading" id="footer" class="bg-black">
  <footer>
    <div
      class="mx-auto 2xl:max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 items-center mt-12 lg:mt-24 relative"
    >
      <div
        class="flex-col flex lg:flex-row lg:items-center gap-y-12 items-start justify-between lg:py-16 pb-6 pt-16"
      >
        <div class="lg:mx-auto lg:text-center">
          <div class="text-white items-center flex">
            <div class="lg:mx-auto lg:text-center">
              <p
                class="font-display font-semibold lg:mx-auto italic lg:text-4xl text-2xl"
              >
                streamer.
              </p><p class="mt-1 text-sm">
                Designed and built in the Åland Islands<br />by Michael
                Andreuzza.
              </p>
            </div>
          </div><nav class="flex-col flex lg:flex-row gap-8 mt-11">
            <a
              class="text-white hover:text-orange-500 -mx-3 -my-2 delay-150 px-3 py-2 relative rounded-lg text-sm transition-colors"
              href="https://supremeui.dev/license.html"
              ><span class="relative z-10">License</span>
            </a><a
              class="text-white hover:text-orange-500 -mx-3 -my-2 delay-150 px-3 py-2 relative rounded-lg text-sm transition-colors"
              href="https://supremeui.dev/faq.html"
              ><span class="relative z-10">Faq</span>
            </a><a
              class="text-white hover:text-orange-500 -mx-3 -my-2 delay-150 px-3 py-2 relative rounded-lg text-sm transition-colors"
              href="https://supremeui.dev"
              ><span class="relative z-10">Supreme</span>
            </a><a
              class="text-white hover:text-orange-500 -mx-3 -my-2 delay-150 px-3 py-2 relative rounded-lg text-sm transition-colors"
              href="https://twitter.com/Mike_Andreuzza"
              ><span class="relative z-10">Social</span>
            </a>
          </nav>
        </div>
      </div><div
        class="lg:mx-auto lg:text-center border-t border-zinc-800 flex flex-col md:pt-6 pb-12 pt-8"
      >
        <p class="md:mt-0 mt-6 text-sm text-zinc-500">
          © Copyright 2022 . All rights reserved.
        </p>
      </div>
    </div>
  </footer>
</section>
